body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

h1 {
  color: white;
  font-size: 3rem;
}

canvas {
  border: 2px dashed white;
  padding: 30px;
}
